name: CI

on:
  push:
  pull_request:
  workflow_dispatch:

permissions:
  contents: read
  pages: write
  id-token: write

env:
  INTERNAL_PROJECT_NAME: nxxrdct
  PYTEST_CMD: python -m pytest
  PYTEST_OPTIONS: -v -ra
  PYTEST_WARNINGS: -W error
  PYTEST_DIR: .
  PIP_INSTALL_OPTIONS: --pre
  COVERAGE_OMIT: "*/test*/*"

jobs:
  isort:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: "3.12"
      - run: python -m pip install --upgrade pip setuptools
      - run: python -m pip install $PIP_INSTALL_OPTIONS isort
      - run: isort --check-only . --profile black

  ruff:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: "3.12"
      - run: python -m pip install --upgrade pip setuptools
      - run: python -m pip install $PIP_INSTALL_OPTIONS ruff
      - run: ruff check .

  bandit:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: "3.12"
      - run: python -m pip install --upgrade pip setuptools
      - run: python -m pip install $PIP_INSTALL_OPTIONS bandit[toml]
      - run: bandit -c pyproject.toml -r .

  test:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        python-version: ["3.10", "3.12", "3.14"]
    env:
      PYTEST_COV: ""
      COVERAGE_SOURCE: ./src
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}
      - run: python -m pip install --upgrade pip setuptools
      - run: python -m pip install $PIP_INSTALL_OPTIONS .[test]
      - run: python -m pip list
      - run: |
          if [ -z "$PYTEST_COV" ]; then
            echo "pytest arguments:" $PYTEST_OPTIONS $PYTEST_WARNINGS $PYTEST_DIR
            $PYTEST_CMD $PYTEST_OPTIONS $PYTEST_WARNINGS $PYTEST_DIR
          else
            echo "coverage run arguments:" $PYTEST_OPTIONS $PYTEST_WARNINGS $PYTEST_DIR
            python -m coverage run --omit=$COVERAGE_OMIT --source=$COVERAGE_SOURCE -m pytest $PYTEST_OPTIONS $PYTEST_WARNINGS $PYTEST_DIR
            python -m coverage report
          fi

  test-3-14-coverage:
    runs-on: ubuntu-latest
    env:
      PYTEST_COV: "true"
      COVERAGE_SOURCE: nxxrdct
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: "3.14"
      - run: python -m pip install --upgrade pip setuptools
      - run: python -m pip install coverage
      - run: python -m pip install $PIP_INSTALL_OPTIONS .[test]
      - run: python -m pip list
      - run: |
          if [ -z "$PYTEST_COV" ]; then
            echo "pytest arguments:" $PYTEST_OPTIONS $PYTEST_WARNINGS $PYTEST_DIR
            $PYTEST_CMD $PYTEST_OPTIONS $PYTEST_WARNINGS $PYTEST_DIR
          else
            echo "coverage run arguments:" $PYTEST_OPTIONS $PYTEST_WARNINGS $PYTEST_DIR
            python -m coverage run --omit=$COVERAGE_OMIT --source=$COVERAGE_SOURCE -m pytest $PYTEST_OPTIONS $PYTEST_WARNINGS $PYTEST_DIR
            python -m coverage report
          fi

  build_sdist:
    runs-on: ubuntu-latest
    if: github.ref == 'refs/heads/main'
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: "3.12"
      - run: python -m pip install --upgrade pip setuptools
      - run: pip install $PIP_INSTALL_OPTIONS build
      - run: python -m build
      - run: mv dist sdist
      - uses: actions/upload-artifact@v4
        with:
          name: sdist
          path: sdist/

  test_sdist:
    runs-on: ubuntu-latest
    needs: build_sdist
    strategy:
      fail-fast: false
      matrix:
        python-version: ["3.10", "3.14"]
    env:
      PYTEST_COV: ""
      COVERAGE_SOURCE: nxxrdct
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}
      - uses: actions/download-artifact@v4
        with:
          name: sdist
          path: sdist
      - run: python -m pip install --upgrade pip setuptools
      - run: |
          for filename in sdist/*.tar.gz; do
            python -m pip install $PIP_INSTALL_OPTIONS $filename[test]
          done
      - run: python -m pip list
      - run: |
          cd sdist
          export DISTRO_NAME=${INTERNAL_PROJECT_NAME//[-]/_}
          export DISTRO_COVERAGE_SOURCE=${COVERAGE_SOURCE//[-]/_}
          if [ -z "$PYTEST_COV" ]; then
            echo "pytest arguments:" ${PYTEST_OPTIONS} ${PYTEST_WARNINGS} --pyargs ${DISTRO_NAME}
            $PYTEST_CMD ${PYTEST_OPTIONS} ${PYTEST_WARNINGS} --pyargs ${DISTRO_NAME}
          else
            echo "coverage run arguments:" ${PYTEST_OPTIONS} ${PYTEST_WARNINGS} --pyargs ${DISTRO_NAME}
            python -m coverage run --omit="${COVERAGE_OMIT}" --source="${DISTRO_COVERAGE_SOURCE}" -m pytest ${PYTEST_OPTIONS} ${PYTEST_WARNINGS} --pyargs ${DISTRO_NAME}
            python -m coverage report
          fi

  test_tutorials:
    runs-on: ubuntu-latest
    if: github.ref == 'refs/heads/main'
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: "3.14"
      - run: python -m pip install --upgrade pip setuptools
      - run: python -m pip install $PIP_INSTALL_OPTIONS .[doc]
      - run: jupyter nbconvert --to notebook --execute doc/tutorials/create_from_scratch.ipynb
      - run: jupyter nbconvert --to notebook --execute doc/tutorials/edit.ipynb

  build_doc:
    runs-on: ubuntu-latest
    if: github.ref == 'refs/heads/main'
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: "3.12"
      - run: python -m pip install --upgrade pip setuptools
      - run: python -m pip install sphinx<9.0.0rc1 .[doc]
      - run: python -m pip list
      - run: sphinx-build doc html -j auto
      - run: rm -rf public && mkdir -p public
      - run: cp -a html/* public/
      - uses: actions/upload-pages-artifact@v3
        with:
          path: public

  pages:
    runs-on: ubuntu-latest
    needs: build_doc
    if: github.ref == 'refs/heads/main'
    steps:
      - uses: actions/deploy-pages@v4

  assets:
    runs-on: ubuntu-latest
    needs: build_sdist
    if: github.ref == 'refs/heads/main'
    steps:
      - uses: actions/download-artifact@v4
        with:
          name: sdist
          path: sdist
      - run: mv sdist assets
      - uses: actions/upload-artifact@v4
        with:
          name: assets
          path: assets

  pypi:
    runs-on: ubuntu-latest
    needs: assets
    if: github.ref == 'refs/heads/main' && github.event_name == 'workflow_dispatch'
    env:
      TWINE_USERNAME: __token__
      PYPI_REPOSITORY: pypi
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: "3.12"
      - uses: actions/download-artifact@v4
        with:
          name: assets
          path: assets
      - run: python -m pip install --upgrade pip setuptools
      - run: python -m pip install --upgrade twine
      - run: python -m pip install --no-deps $PIP_INSTALL_OPTIONS .
      - run: |
          if [ -z "$TWINE_PASSWORD" ]; then
            echo "Error: TWINE_PASSWORD is not set"
            exit 1
          fi
      - run: |
          export DISTRO_NAME=${INTERNAL_PROJECT_NAME//[-]/_}
          VERSION=$(python -c "import importlib.metadata; print(importlib.metadata.version('${DISTRO_NAME}'))")
          echo "Deploying ${DISTRO_NAME} with version ${VERSION}"
      - run: python -m twine upload -r ${PYPI_REPOSITORY} --non-interactive --disable-progress-bar assets/*
        env:
          TWINE_PASSWORD: ${{ secrets.TWINE_PASSWORD }}

  testpypi:
    runs-on: ubuntu-latest
    needs: assets
    if: github.ref == 'refs/heads/main' && github.event_name == 'workflow_dispatch'
    env:
      TWINE_USERNAME: __token__
      PYPI_REPOSITORY: testpypi
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: "3.12"
      - uses: actions/download-artifact@v4
        with:
          name: assets
          path: assets
      - run: python -m pip install --upgrade pip setuptools
      - run: python -m pip install --upgrade twine
      - run: python -m pip install --no-deps $PIP_INSTALL_OPTIONS .
      - run: |
          if [ -z "$TWINE_PASSWORD" ]; then
            echo "Error: TEST_TWINE_PASSWORD is not set"
            exit 1
          fi
      - run: |
          export DISTRO_NAME=${INTERNAL_PROJECT_NAME//[-]/_}
          VERSION=$(python -c "import importlib.metadata; print(importlib.metadata.version('${DISTRO_NAME}'))")
          echo "Deploying ${DISTRO_NAME} with version ${VERSION}"
      - run: python -m twine upload -r ${PYPI_REPOSITORY} --non-interactive --disable-progress-bar assets/*
        env:
          TWINE_PASSWORD: ${{ secrets.TEST_TWINE_PASSWORD }}
